* {
	margin: 0;
	padding:0;
	font-family: 'Montserrat', sans-serif;
	color: white;
	overflow: hidden;
}

.conteiner {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

header {
	display: flex;
	height: 100px;
	justify-content: space-between;
	flex-wrap: wrap;
}

@media screen and (max-width: 425px) {

	 header {
	 	justify-content: center;
	}
}

nav, footer {
	display: flex;
	background-color: #acacac;
	height: 70px;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
}

main {
	display: flex;
	margin-top: 10px;
	height: 800px;
	flex-direction: row;
}

@media screen and (max-width: 425px) {
	 main {
	 	flex-wrap: wrap;
	}
}

footer {
	height: 200px;
}

.logo, .baner {
	background-color: #acacac;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.logo {
	width: 15%;
}

.baner {
	width: 44%;
}

@media screen and (max-width: 425px) {
	.logo {
		width: 100%;
	}
	.baner {
		width: 100%;
		margin-top: 10px;
	}	
}

/*....content_a.....*/
.content_a, .content_b, .content_c {
	width: 56%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.content_a {
	width: 56%;
}
.a_a, .a_b, .a_c {
	background-color: #acacac;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.a_a {
	height: 20%;
}
.a_b {
	margin-top: 10px;
	height: 25%;
}
.a_c {
	margin-top: 10px;
	height: 55%;
}

/*....content_b.....*/
.content_b {
	width: 22%;
	margin-left:10px;
}
.b_a, .b_b {
	background-color: #acacac;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 30%;
	text-align: center;
}
.b_b {
	margin-top: 10px;
	height: 70%;
}

/*....content_c.....*/
.content_c {
	width: 22%;
	margin-left:10px;
}
.c_a, .c_b, .c_c  {
	background-color: #acacac;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.c_a {
	height: 50%;
}

.c_b {
	margin-top: 10px;
	height: 50%;
}
.c_c {
	margin-top: 10px;
	height: 35%;
}

@media screen and (max-width: 425px) {
	.content_a, .content_b, .content_c {
	width: 100%;
	margin:0;
	border: solid #888888 1px;
	}
	.content_b, .content_c {
		margin-top: 10px;
	}

}